body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
p,
ul {
    margin: 0;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #FF8984;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    width: 793px;
    height: 82px;
    background-color: #4A4F56;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
}

p {
    color: #FF8984;
}


main {
    background-color: #3B3F45;
    width: 793px;
    height: 425px;
    margin: auto;
}

.shopping-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.shopping-list li {
    width: 543px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #ffff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all .1s ease-in;
}

li:nth-child(odd) {
    background-color: #88839E;
}

li:nth-child(even) {
    background-color: #7A7593;
}

li:hover {
    background-color: #625E77;
    border-color: #ffff;
}

#pickles+label::after {
    content: " (for the next lessons about CSS)";
}

#apples+label::after {
    content: " (for more CSS manipulations)";
}

#oranges+label::after {
    content: " (because they are awesome)";
}

#plates+label::after {
    content: " (hm... they always dissapear)";
}

#bentos+label::after {
    content: " (for the next lessons about CSS)";
}

#bottle+label::after {
    content: attr(title);
}

input:checked+label {
    text-decoration: line-through;
    color: #9B96AC;
}

li:active {
    background-color: #ff8984;
}

button {
    width: 543px;
    height: 45px;
    color: #ff8984;
    background: #4a4f56;
    border: none;
    margin: 45px 130px;
    cursor: pointer;
}